.workerList li {
  display : inline-block;
  width   : 300px;
  height  : 200px;
  vertical-align: top;
  text-align    : center;
  margin-right  : 10px;
}

#canvasCapture,.workerList img, .imageCover {
  width : 300px;
  height: 150px;
}

#videoCapture {
  width: 0px;
  height: 0px;
}

.buttonRow {
  margin-top: 2px;
}

.imageCover {
  position: absolute;
}

.Away, .DND, .BRB {
  opacity: 0.7;
}

.Away {
  background-color: #777777;
}
.DND {
  background-color: #995555;
}
.BRB {
  background-color: #5577BB;
}
