<template name="remoteWorkers">
  <h3>Remote workers: </h3>
  <ul class="workerList">
    <li>
      {{#if me}}
        {{#with me}}
          <div class="nameRow">
            {{formatName}} (you - {{userStatus}}) - {{formatDate imageDate}}
          </div>
          <div class="imageCover {{userStatus}}"></div>
          <img id="myImage" src="{{lastImage}}" /><br/>
          <div class="buttonRow">
            <button id="btnTakeSnapshot">Take Shot</button>
            <button id="btnStartTimer">Start Timer</button>
            <select id="selStatus">
              <option {{selectedIfEquals userStatus "Online"}}>Online</option>
              <option {{selectedIfEquals userStatus "Away"}}>Away</option>
              <option {{selectedIfEquals userStatus "BRB"}}>BRB</option>
              <option {{selectedIfEquals userStatus "DND"}}>DND</option>
            </select>
          </div>
        {{/with}}
      {{else}}
        <button id="btnJoin">Join Wall</button>
      {{/if}}
    </li>
    {{#each remoteWorkersButMe}}
      <li>
        <div class="nameRow">
          {{formatName}} ({{userStatus}}) - {{formatDate imageDate}}<br/>
        </div>
        <div class="imageCover {{userStatus}}"></div>
        <img src="{{lastImage}}"/><br/>
        <div class="buttonRow">
          <div style="float:left"><a href="{{callUrl}}">Call</a></div>
          <div style="float:right"><a href="{{chatUrl}}">Chat</a></div>
        </div>
      </li>
    {{/each}}
  </ul>

  <video id="videoCapture" autoplay></video>
  <canvas id="canvasCapture" style="display:none"></canvas>
</template>
